<div class="navbar navbar-inverse">
    <div class="navbar-inner">
        <div class="container" style="width: auto;">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/admin"><strong style="color: #FAA732;">|</strong>&nbsp;&nbsp;&nbsp;Admin Ana Sayfa</a>

            <div style="float: right;">

                <a href="/admin/auto" class="btn btn-warning">İşlemler</a>
                
                 <a href="/admin/contact" class="btn btn-warning">İletişim İstekleri</a>

                <a href="/admin/tag" class="btn btn-warning">Etiketler</a>

            </div>
        </div>
    </div>
</div>
